@model Blockbusters.Models.Helpers.Paging<Blockbusters.Models.Video>

<table class="table is-fullwidth">
	<thead>
	<tr>
		@foreach (var th in Model.Table.Headers)
		{
			<th>
				@th.Name 
				@if (th.SortItem != null)
				{
					<a href="/videos/page/@Model.CurrentPage?order=@th.SortItem.Name&direction=@th.SortItem.SortDirection.ToString()"><i class="fa fa-sort" style="float: right"></i></a>
				}
			</th>
		}
	</tr>
	</thead>
	<tbody>
	@foreach (var video in Model.Table.Data)
	{
		<tr onclick="location.href = '@(Url.Action("details", "videos", new { id = video.Id }))'">
			<td>@video.Title</td>
			<td>@video.FromYear</td>
			<td>@video.VideoType</td>
			<td>@video.LengthInMinutes minutes</td>
			<td>@string.Join(", ", video.Genres)</td>
			<td>@video.Price SEK</td>
			<td>@video.Added.ToString("yyyy-MM-dd")</td>
		</tr>
	}
	</tbody>
</table>
@if (Model.NumberOfPages > 1)
{
	<nav class="pagination">
		<ul class="pagination-list">
			@for (var i = 1; i <= Model.NumberOfPages; i++)
			{
				<li>
					@if (Model.CurrentPage == 0 && i == 1 || Model.CurrentPage == i)
					{
						<a class="pagination-link is-current" href="/videos/page/@i">@i</a>
					}
					else
					{
						<a class="pagination-link" href="/videos/page/@i">@i</a>
					}
				</li>
			}
		</ul>
	</nav>
}