@model Blockbusters.Models.Helpers.Paging<Blockbusters.Models.Customer>

<table class="table is-fullwidth">
	<thead>
		<tr>
			@foreach (var th in Model.Table.Headers)
			{
				<th>
					@th.Name 
					@if (th.SortItem != null)
					{
						<a href="/customers/page/@Model.CurrentPage?order=@th.SortItem.Name&direction=@th.SortItem.SortDirection.ToString()"><i class="fa fa-sort" style="float: right"></i></a>
					}
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var customer in Model.Table.Data)
		{
			<tr  onclick="location.href = '@(Url.Action("details", "customers", new { id = customer.Id }))'">
				<td>@customer.FirstName</td>
				<td>@customer.LastName</td>
				<td>@customer.Email</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.NumberOfPages > 1)
{
	<nav class="pagination">
		<ul class="pagination-list">
			@for (var i = 1; i <= Model.NumberOfPages; i++)
			{
				<li>
					@if (Model.CurrentPage == 0 && i == 1 || Model.CurrentPage == i)
					{
						<a class="pagination-link is-current" href="/customers/page/@i">@i</a>
					}
					else
					{
						<a class="pagination-link" href="/customers/page/@i">@i</a>
					}
				</li>
			}
		</ul>
	</nav>
}